player-connection-mode=Listen
player-connection-guid=664986885
player-connection-debug=0
player-connection-project-name=My project (3)
player-connection-ip=192.168.56.1
player-connection-ip=192.168.36.1
player-connection-ip=192.168.72.1
player-connection-ip=10.1.3.125
wait-for-native-debugger=0
hdr-display-enabled=0
